html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  background-image: radial-gradient(
    125% 125% at 50% 90%,
    #fff 40%,
    #475569 100%
  );
}
span {
  color: red;
}
/* hero section start */
.hero-section {
  background-image: url(img/airplane-3243995_1280.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ffff;
  padding-top: 90px;
}
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0, 0.5);
  z-index: 0;
}
.hero-section .container {
  position: relative;
  z-index: 1;
}
.form-container {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 768px) {
  #formContainer {
    display: none;
  }
  #formContainer.show {
    display: block;
    animation: fadeIn 0.4s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .hero-section {
    background-image: url(full-shot-woman-travel-concept.jpg);
    background-position: center;
    padding-top: 200px;
    min-height: 100vh;
  }
  .navbar .btn {
    font-size: 12px;
    padding: 5px 8px;
  }
}
/* hero section end */

/* About us section Start */
.aboutus img {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease-in-out;
}
.aboutus img:hover {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}
.text-overlay {
  font-size: 1.1rem;
  font-weight: 600;
}

/* First card section start */

.feature-card img {
  width: 60px;
  margin-bottom: 10px;
}
.feature-card {
  text-align: center;
  /* background-color: white; */
  background: linear-gradient(to bottom, #cce0f9, #ffffff);
  box-shadow: 0px 8px 24px rgb(0, 0, 0, 0.06);
  padding: 30px 20px;
  height: 100%;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 12px 28px rgb(0, 0, 0, 0);
}
.feature-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.feature-card p {
  /* font-size: 1.1rem; */
  font-weight: 600;
}

/* First card section end */

/* offer section start */

.green-bg {
  background-color: #c2f2d0;
}
.orange-bg {
  background-color: #ffe3ba;
}
.purple-bg {
  background-color: #e2d8f7;
}
.red-bg {
  background-color: #f9c3c3;
}
.yellow-bg {
  background-color: #ffe9c0;
}
.blue-bg {
  background-color: #d1eaff;
}

.icon-box {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-right: 15px;
  padding: 10px;
}

.expectation-item {
  display: flex;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .expectation-item {
    display: block;
    align-items: start;
  }
  .icon-box {
    margin-bottom: 10px;
  }
}
/* why choouse start */
.info-card {
  background: linear-gradient(to bottom, #cce0f9, #ffffff);
  box-shadow: 0px 8px 24px rgb(0, 0, 0, 0.06);
  padding: 30px 20px;
  height: 100%;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.info-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 12px 28px rgb(0, 0, 0, 0);
}

/* Testimony section start */
.reviews img {
  width: 10rem;
}
.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ratings i {
  color: gold;
}
.testimony-card {
  background: linear-gradient(to bottom, #cce0f9, #ffffff);
  box-shadow: 0px 8px 24px rgb(0, 0, 0, 0.06);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.testimony .col-md-4 {
  padding: 15px;
}

/* footer */
.footer {
  /* background: linear-gradient(to bottom, #cce0f9, #ffffff); */
  background-image: radial-gradient(
    125% 125% at 50% 90%,
    #fff 40%,
    #475569 100%
  );
}

.footer .belowus .col-md-4 {
  padding: 20px;
}

.footer i {
  font-size: 1.6rem;
  color: black;
  align-items: center;
}

.detail a {
  color: black;

  margin-right: 15px;
}

.detail a:hover {
  color: blue;
}
